body
{
    margin: 0;
    padding: 100px 0;
    font: normal 13px/1.4 Verdana, Arial;
}
a
{
    color: #333;
}
a:hover
{
    color: #666;
}

/* carousel styles */
.topCarousel
{
    background: #cfd2d4 url('../gfx/carousel/bg.png') 50% 0 no-repeat;
    height: 438px;
    width: 100%;
    position: relative;
    overflow: hidden;
    }
    .subTopCarousel
    {
        max-width: 1600px;
        min-width: 940px;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        height: 438px;
    }
    .topCarousel .slideList
    {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 438px;
        width: 100%;
        position: relative;
        z-index: 1;
    }
    .topCarousel .slideItem
    {
        height: 438px;
        float: left;
        width: 100%;
        position: relative;
       }
        .topCarousel .slideItem .image
        {
            position: absolute;
            left: 50%;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
        .topCarousel .slideItem .slideContent
        {
            width: 490px;
            margin: 0 auto;
            padding: 90px 400px 10px 50px;
            color: #333;
            position: relative;
            z-index: 3;
        }

    .topCarousel h2,
    .topCarousel h3
    {
        margin: 0;
        padding: 0;
    }
    .topCarousel h2
    {
        font: normal 35px/1.2 'Advent Pro';
        text-transform: uppercase;
    }
    .topCarousel h3
    {
        font-size: 20px;
        font-weight: normal;
    }
    .topCarousel p
    {
        margin: 0;
        padding: 30px 0 0;
    }

/* pagination */
.topCarousel .pagination
{
    position: absolute;
    width: 100%;
    bottom: 10px;
    z-index: 3;
    text-align: center;
    }
    .topCarousel .pagination ul
    {
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .topCarousel .pagination li
    {
        display: inline;
    }
    .topCarousel .pagination a
    {
        background: url('../gfx/carousel/navigation-sprite.png') 0 -60px no-repeat;
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: 0 5px;
        font-size: 0;
        }
        .topCarousel .pagination a.current
        {
            background-position: 0 -90px;
        }
    .topCarousel .pagination a.prev
    {
        background-position: 0 0;
    }
    .topCarousel .pagination a.next
    {
        background-position: -30px 0;
    }
    .topCarousel .pagination a.prev:hover
    {
        background-position: 0 -30px;
    }
    .topCarousel .pagination a.next:hover
    {
        background-position: -30px -30px;
    }
